<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="utf-8">
    <title th:text="${exhibit.getName()}"></title>
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a th:href="@{~/museum}" class="navbar-brand">Museum of Ancient Arts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{~/museum}" class="nav-link">Главная Страница</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/museum/browse/exhibitions}" class="nav-link">Экспозиции</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{~/museum/security/user/login}" class="nav-link">Войти в Аккаунт</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{~/museum/security/user/logout}" class="nav-link">Выйти из Аккаунта</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="pt-2">
    <div class="container text-center">
        <h1 class="display-4" th:text="${exhibit.getName()}"></h1>
        <div class="d-flex row justify-content-center align-items-center g-3">
            <a th:href="${exhibit.getImageUrl()}"
            class="col-12 col-lg-8">
                <img class="img-thumbnail my-4"
                     th:src="${exhibit.getImageUrl()}">
            </a>
            <div class="col-6 col-lg-4 text-start mb-4">
                <h3 class="display-6 fs-2">Время проведения:</h3>
                <h3 class="display-6 fs-3 fw-bold">
                    <span th:text="${start}"></span>
                    <img src="/img/icons/minus.svg" alt="stick">
                    <span th:text="${finish}"></span>
                </h3>
            </div>
            <a th:href="@{~/museum/browse/exhibitions/halls(exh_id=${exhibit.getId()})}"
               class="btn btn-primary btn-lg my-4 col-4 col-md-3">Перейти к залам</a>
            <div class="col-12">
                <h3 class="display-6">Описание:</h3>
                <p class="lead text-start fs-4" th:text="${exhibit.getDescriptionLong()}"></p>
            </div>
        </div>
    </div>
</section>
<hr>
<footer class="py-2 bg-light text-dark text-center position-relative">
    <div class="container">
        <p class="lead">&copy; все права защищены</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>