<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title th:text="${head}"></title>
</head>

<body class="bg-light">
<section class="bg-light text-dark text-center">
    <div class="container">
        <h1 class="display-4 text-center pt-1 mb-4"> Укажите данные: </h1>
        <form th:action="@{~/museum/exhibitions/save}"
              th:object="${exhibit}"
              method = "post"
              enctype="multipart/form-data"
        >
            <input type="hidden" th:field="*{id}"/>
            <div class="container row justify-content-start m-0 p-0">
                <p class="col-4 p-0 mb-4">
                    <input type="text" th:field="*{name}" placeholder="Название выставки" class="form-control"/>
                </p>
                <p class="col-8 p-0 mb-4">
                    <input type="text" th:field="*{description}" placeholder="Краткое описание выставки (до 1000 символов)" class="form-control"/>
                </p>
            </div>
            <textarea th:field="*{descriptionLong}" placeholder="Полное описание выставки (до 15000 символов)" class="form-control mb-4 col-4"></textarea>
            <div class = "container custom-file my-4">
                <label class="row mb-2">Фоновое изображение: </label>
                <input type="file"
                       name="image"
                       class="row"
                       accept="image/*" />
            </div>
            <div class="container row justify-content-evenly">
                <p class="col-3">
                    <label for="date_start">Выставка начинается:</label>
                    <input id="date_start" type="date" th:field="*{dateStart}" class="form-control"/>
                </p>
                <p class="col-3">
                    <label for="date_finish">Выставка заканчивается:</label>
                    <input id="date_finish" type="date" th:field="*{dateFinish}" class="form-control"/>
                </p>
                <button type="submit" class="btn btn-success btn-lg col-2 align-self-center">Сохранить</button>
                <a th:href="@{~/exhibitions}" class="btn btn-danger btn-lg col-2 align-self-center">Отменить</a>
            </div>
        </form>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>