<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="utf-8">
    <title th:text="${hall.getName()}"></title>
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a th:href="@{~/museum}" class="navbar-brand">Museum of Ancient Arts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{~/museum}" class="nav-link">Главная Страница</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{~/museum/browse/exhibitions}" class="nav-link">Экспозиции</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{~/museum/security/user/login}" class="nav-link">Войти в Аккаунт</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{~/museum/security/user/logout}" class="nav-link">Выйти из Аккаунта</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="bg-light text-dark pt-3 text-center">
    <div class="container">
        <div class="text-center pt-1 mb-4">
            <p th:if="${hall.getNumber() != null}" class="display-4">
                Зал номер <span th:text="${hall.getNumber()}"></span>
            </p>
            <p class="display-4 mb-0" th:text="${hall.getName()}"></p>
        </div>
        <div class="container p-0">
            <div class="row justify-content-center g-3">
                <div th:each="showpiece:${hall.getShowpieces()}" class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow">
                        <img th:src="${showpiece.getImageUrl()}"
                             th:alt="'Фото экспоната: ' + ${showpiece.getName()}"
                             class="card-img-top"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${showpiece.getName()}"></h5>
                            <p class="card-text text-start" th:text="${showpiece.getDescription()}"></p>
                            <div class = "d-flex row justify-content-evenly">
                                <a th:href="@{~/museum/browse/showpieces/more(shwp_id=${showpiece.getId()})}"
                                   class="btn btn-info col-5">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<footer class="py-2 bg-light text-dark text-center position-relative">
    <div class="container">
        <p class="lead">&copy; все права защищены</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>